fastapi==0.115.9
pydantic==2.11.3
python-multipart==0.0.20
requests==2.31.0
python-dotenv==1.1.0 
uuid
langchain==0.3.25
langchain-cli==0.0.36
langchain-community==0.3.24
langchain-groq==0.3.2
langchain-huggingface==0.3.0
langchain-openai==0.3.17
langchain-pinecone==0.2.6
pypdf==5.5.0
openai==1.76.0
sentence-transformers==4.1.0
numpy==1.26.4
torch==2.2.2

